.prj-table {
    width: 100%;
    max-width: 100%;;
    table-layout: auto;
}

.prj-table .prj-table-header .prj-table-header-row, .prj-table > .prj-table-body > .prj-table-row {
    margin: 1em 0 0 1em;
    text-align: left;
}

.prj-table .prj-table-header .prj-table-header-row .prj-table-header-cell {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    font-weight: var(--font-medium);
    font-size: large;
}

.prj-table .prj-table-body .prj-table-row .prj-table-cell {
    border: none;
    text-align: left;
    font-weight: var(--font-normal);
    font-size: normal;
}

.prj-table .prj-table-body .prj-table-row:hover {
    background-color: var(--table-row-background-hover) !important;
}

.prj-table>.prj-table-body>.prj-table-row.odd-row {
    background-color: var(--table-row-background);
}

.prj-table>.prj-table-body>.prj-table-row.even-row {
    background-color: var(--table-row-alt-background);
}


/* Editable DataView */

/* Text input */
.editable-data-view.editable-text-input {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 2px 0 0 0;
    max-width: 100%;
}

.editable-data-view.text-input-sizer,
.editable-data-view.text-input {
    font-size: small;
    font-family: inherit;
}

.editable-data-view.text-input-sizer {
    display: flex;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border: none;
}

.editable-data-view.text-input-sizer::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre;
}

.editable-data-view.text-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    border: none;
    background: transparent;
}

.editable-data-view.text-input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.editable-data-view.text-input[readonly] {
    pointer-events: none;
}

.editable-data-view.text-input:-webkit-autofill,
.editable-data-view.text-input:-webkit-autofill:focus {
      transition: background-color 0s 600000s, color 0s 600000s;
}

/* Link input */
.editable-data-view.editable-link-input {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 2px 0 0 0;
    max-width: 100%;
}

.editable-data-view.link-input-sizer,
.editable-data-view.link-input {
    font-size: small;
    font-family: inherit;
}

.editable-data-view.link-input-sizer {
    display: flex;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border: none;
}

.editable-data-view.link-input-sizer::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre;
}

.editable-data-view.link-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    border: none;
    background: transparent;
    text-decoration: underline;
    appearance: none;
}

.editable-data-view.link-input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.editable-data-view.link-input[readonly] {
    pointer-events: none;
}

.editable-data-view.link-input:-webkit-autofill,
.editable-data-view.link-input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}

.editable-data-view.link {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

.editable-data-view.link-input[readonly] {
    display: none;
    pointer-events: none;
}

/* Date input */
.editable-data-view.editable-date-input {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 2px 0 0 0;
    width: 100%;
}

.editable-data-view.date-input {
    display: flex;
    position: relative;
    max-width: 14ch;
    height: 100%;
    color: #FFF;
    border: none;
    background: transparent;
    padding-left: var(--size-4-6);
    font-size: small;
    font-family: inherit;
}

.editable-data-view.date-input[readonly] {
    max-width: 11ch;
    padding-left: 0 !important;
    pointer-events: none;
}

/* Select input */
.editable-data-view.editable-select-input {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 2px 0 0 0;
    width: 100%;
}

.editable-data-view.select-input {
    font-size: small !important;
    font-family: inherit;
    display: flex;
    max-width: 100%;
    height: 100%;
    color: #FFF;
    border: none;
    background: transparent;
    box-shadow: none;
    padding: 0;
    font-weight: var(--font-normal);
}

.editable-data-view.select-input[disabled] {
    pointer-events: none;
    appearance: none;
    opacity: 1;
}

.editable-data-view.select-input option {
    background: var(--interactive-normal);
}

/* General */
.editable-data-view.button {
    display: flex;
    align-items: flex-start;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 0px;
    padding: 0;
    box-shadow: none;
    --icon-size: var(--icon-xs);
}

.editable-data-view .hidden {
    display: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
}