@mixin mobileTable2ColumnStyles {

    .prj-table>.prj-table-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .prj-table>.prj-table-body>.prj-table-row>.prj-table-cell {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
    }

    .prj-table>.prj-table-body>.prj-table-row {
        height: fit-content;
    }

}

@mixin mobileTable1ColumnStyles {

    .prj-table>.prj-table-body>.prj-table-row,
    .prj-table>.prj-table-body>.prj-table-row>.prj-table-cell {
        display: block;
        width: 100%;
        height: fit-content;
    }

    .prj-table>.prj-table-body>.prj-table-row>.prj-table-cell {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

}


@mixin mobileTableGeneralStyles {

    .prj-table>.prj-table-header {
        display: none;
    }

    .prj-table>.prj-table-body>.prj-table-row>.prj-table-cell {
        border: 1px solid #cccccc05;
    }

    .prj-table>.prj-table-body>.prj-table-row>.prj-table-cell:before {
        content: attr(data-label);
        font-size: xx-small !important;
        font-family: inherit;
        opacity: 0.5;
        transform: translateX(-5px);
        padding-bottom: 5px;
        order: -1;
        display: block;
    }

    .prj-table>.prj-table-body>.prj-table-row>.prj-table-cell.emoji-cell:before {
        font-size: x-small !important;
        padding-bottom: 10px;
        opacity: 0.8 !important;
    }

}

@mixin mobileGeneralStyles {
    .workspace-leaf-content[data-mode="source"] .prj-block-container {
        padding-right: 14px !important;
    }
}